<div class="background-image">
	<div class="wrapper">
		<div class="d-flex justify-content-center h-100">
			<div class="card ">
				<div class="card-header">
					<h3>Create a new account</h3>
				</div>
				<div class="card-body">
					<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="displayname" formControlName="DisplayName">
						</div>
                        <div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-at"></i></span>
							</div>
							<input type="email" class="form-control" placeholder="email" formControlName="Email">

						</div>
						<div formGroupName="Passwords">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" class="form-control" placeholder="password" formControlName="Password" data-bs-toggle="tooltip" data-bs-html="true" title="Password must be at least 6 characters long, uppercase and special">
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" class="form-control" placeholder="confirm password" formControlName="ConfirmPassword" data-bs-toggle="tooltip" data-bs-html="true" title="Password must be at least 6 characters long, uppercase and special"> 
							</div>
						</div>
						<div class="input-group form-group">
							<fieldset>
								<h5>Choose your avatar:</h5>
								<span *ngFor="let avatar of Avatars">
									<input type="radio" name="avatar" class="sr-only" id="{{ avatar.id }}" value="{{ avatar.id }}" formControlName="avatar">
									<label for="{{ avatar.id }}">
									<img class="rounded-circle m-1" style="height: 50px; width: 50px" src="{{ avatar.url }}" alt="male">
									</label>
								</span>
							</fieldset>
						</div>
						<div class="form-group">
							<input type="submit" value="Sign up" class="btn float-right login_btn" [disabled]="!service.formModel.valid">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Already have an account?<a routerLink="/login">Sign In</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
