@import '~bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
    font-size: 1rem;
}

.navbar {
    font-size: 1.35rem;
}

.gradient {
    background: rgb(252, 197, 104);
    background: linear-gradient(90deg, rgba(252, 197, 104, 1) 0%, rgba(255, 169, 63, 1) 100%);
}
<<<<<<< HEAD
=======
.gradient2 {
    background: rgb(255,187,73);
    background: linear-gradient(90deg, rgba(255,187,73,1) 7%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(255,187,73,1) 93%);
}
>>>>>>> ccae311812251f519d42b999b10c866d9fb3c0df

.page-header {
    font-size: 1.25rem;
    font-family: 'Syne Mono', monospace;
}

.quote-title {
    font-family: 'Roboto', monospace;
}


.book-card .card-img-top {
    padding: 20px;
}

.book-card-section,
.quote-section {
    padding-bottom: 220px;
}

.card-title {
    font-size: 1.1rem;
}

footer {
    color: #fff;
    position: relative;
    height: 70px;
    clear: both;
}

.wrapper {
<<<<<<< HEAD
  padding: 15px;
=======
  //padding: 15px;
>>>>>>> ccae311812251f519d42b999b10c866d9fb3c0df
  //64px-height of header, 70px-height of footer
  min-height: calc(100vh - 64px - 70px);
}
.nav-pills {
  .nav-link {
    color: #1d2857;
  }
  .nav-link.active {
    background-color: #1d2857;
  }
}


