.fnt {
    font-family: Ibarra Real Nova;
}
.b {
    font-weight: bold;
}
.s-15 {
    font-size: 150%;
}
.s-115 {
    font-size: 125%;
}
.mg-t {
    margin-top: 2.5%;
}
.mg-b {
    margin-bottom: 2.5%;
}
.mg-b-0 {
    margin-bottom: 0;
}
.mg-t-0 {
    margin-top: 0;
}
.mg-b-0 {
    margin-bottom: 0;
}
.mg-l {
    margin-left: 2.5%;
}
.mg-r {
    margin-right: 2.5%;
}
.box-shad {
    box-shadow: -10px 15px 4px rgba(0, 0, 0, 0.25);
}
.bg-main {
    background-color: #E1E1E1;
}
.red {
    color: red;
}
.c {
    text-align: center;
  }
  .av-s {
      width: 120px;
      height: 120px;
  }
  .al {
    text-align: left;
  }
  .ar {
    text-align: right;
  }
  .btn {
      background:  #ffa93f;
      border: none;
      text-decoration: none;  
  }

  .starRating:not(old){
    display        : inline-block;
    width          : 300px;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
  }
  
  .starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
  }
  
  .starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e7/Empty_Star.svg');
    background-size : contain;
  }
  
  .starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/29/Gold_Star.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
  }
  
  .starRating:not(old) > label:hover:before,
  .starRating:not(old) > label:hover ~ label:before,
  .starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
  }
  