<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/img/logo_large.png" alt="logo" width="159" height="35"/></a>
        <button
                class="navbar-toggler"
                type="button"
                (click)="isNavbarCollapsed = !isNavbarCollapsed"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div [ngbCollapse]="isNavbarCollapsed"  class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categories</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/bookcase" routerLinkActive="active">My bookcase</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn" routerLinkActive="active">Sign in</a>
                </li>
                <div ngbDropdown class="nav-item px-2" *ngIf="isLoggedIn">
                    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{displayname}}</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/profile">My profile</button>
                      <button ngbDropdownItem (click)="onLogout()">Logout</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
  </nav>