<div class="wrapper">
    <header class="page-header gradient2">
        <div class="">
            <div class="d-flex justify-content-center">
                <div class="mt-4">
                    <img style="height:10rem" src="{{avatarUrl}}" class="img-resposive" alt="...">
                </div>
            </div>
            <div class="d-sm-flex justify-content-center mt-4 pb-4">
                <div align="center" class="p-2 d-flex flex-column">
                    <label for="email">Email</label>
                    <input class="text-center rounded shadow" name="email" type="text" value="{{email}}" disabled>
                </div>
                <div align="center" class="p-2 d-flex flex-column">
                    <label for="displayname">Display Name</label>
                    <input class="text-center rounded shadow" name="displayName" type="test" value="{{displayName}}" disabled>
                </div>

            </div>
        </div>
    </header>
    <div class="container clear-top">
        <div class="row mt-4">
            <h3>My reviews:</h3>
        </div>
        <div class="row mt-2">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book</th>
                    <th scope="col">Description</th>
                    <th scope="col">Rating</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of reviews" >
                  <tr>
                    <th scope="row">{{reviews.indexOf(item) +1}}</th>
                    <td>{{item.bookTitle}}</td>
                    <td>{{item.content}}</td>
                    <td>{{item.givenRate}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
