<div class="page-header gradient" style="height: auto;">
    <div class="container pt-3 mb-5"></div>
    <div class="container pt-3">
        <div class="row align-items-center justify-content-center mb-5">
            <div class="container bg-white box-shad mb-5">
                <div class="row justify-content-center fnt">
                    <div class="col-s mg-t mg-b ml-2">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body mg-l mg-r mg-t mg-b">
                                <form [formGroup]="searchBookForm" autocomplete="off">
                                    <h5 class="card-title s-15">Search book</h5>

                                    <h6 class="card-text mt-4 b">Through title:</h6>
                                    <div class="input-group rounded form-group">
                                        <input type="search" class="form-control rounded" placeholder=""
                                            aria-label="Search" aria-describedby="search-addon"
                                            formControlName="title" />
                                        <span class="input-group-text border-0" id="search-addon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>

                                    <h6 class="card-text mt-5 b">Through details:</h6>
                                    <h6 class="card-text mt-3">Genre</h6>
                                    <div class="input-group form-group">
                                        <input class="form-control" list="datalistOptions" id="genreDataList"
                                            placeholder="" formControlName="genreId" (change)="updateBooksByGenre()">
                                        <datalist id="datalistOptions">
                                            <option *ngFor="let genre of genres" value="{{genre.name}}"></option>
                                        </datalist>
                                    </div>

                                    <h6 class="card-text mt-3">Author</h6>
                                    <div class="input-group form-group">
                                        <input class="form-control" list="authDatalistOptions" id="authorDataList"
                                            placeholder="" formControlName="authorId" (change)="updateBooksByAuthor()">
                                        <datalist id="authDatalistOptions">
                                            <option *ngFor="let author of authors"
                                                value="{{author.secondName}}"></option>
                                        </datalist>
                                    </div>

                                    <h6 class="card-text mt-3">Average rating</h6>
                                    <div class="row">
                                        <div class="col-3"><input type="number" class="form-control mg-l-0 form-group"
                                                id="minRating" formControlName="minRating"  max="10" style="width: 60px;"></div>
                                        <div class="col-1">
                                            <h6 class="card-text s-15"> - </h6>
                                        </div>
                                        <div class="col-3"><input type="number" class="form-control mg-l-0 form-group"
                                                id="maxRating" formControlName="maxRating" min="1" max="10" style="width: 60px;"></div>
                                        <div class="col-1">
                                            <button (click)="filterByRating()" class="btn">
                                                <p class="fnt mg-b-0">Apply</p>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                
                                <button (click)="resetSearch()" class="btn mt-4">
                                    <p class="fnt mg-b-0">Reset</p>
                                </button>
                            </div>
                        </div>


                        <div class="card mt-5" style="width: 18rem;">
                            <div class="card-body mg-l mg-r mg-t mg-b">
                                <h6 class="card-text b c">Missing something?</h6>
                                <div class="container mt-5">
                                    <div class="center mt-2">
                                        <button class="btn" routerLink="/add-book">
                                            <p class="fnt mg-b-0">+ Add new book</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col">
                        <div class="row ml-1">
                            <div class="col-s mx-4" *ngFor="let book of books | callback: filterBooks">
                                <div class="card book-card mx-auto my-3">
                                    <img *ngIf="book.coverImg.includes('assets'); else elseImgBlock"
                                        src="{{book.coverImg}}" alt="/assets/img/testimg.jpg" class="card-img-top">
                                    <ng-template #elseImgBlock><img src="/assets/img/stock_no_img.jpg"
                                            class="card-img-top card-img-size" alt="...">
                                    </ng-template>
                                    <div class="card-body">

                                        <h5 class="card-title">{{book.title}}<span class="badge bg-warning text-dark"><i
                                                    class="fas fa-star"></i>{{book.averageRates}}</span>
                                        </h5>
                                        <p class="card-text">{{book.author}}</p>
                                        <a [routerLink]="['/book', book.id]" class="btn btn-warning">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="container pt-3"></div>

</div>