<div class="page-header gradient" style="height: auto;">
    <div class="container pt-3 mb-5"></div>
    <div class="container pt-3">
        <div class="row align-items-center justify-content-center mb-5">
            <div class="container bg-white box-shad mb-5">
                <div class="row justify-content-center fnt">
                    <div class="col-s mg-t mg-b ml-2">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body mg-l mg-r mg-t mg-b">
                              <h5 class="card-title s-15">Search book</h5>
                              <h6 class="card-text mt-4 b">Through title:</h6>
                              <div class="input-group rounded">
                                <input type="search" class="form-control rounded" placeholder="book's title" aria-label="Search"
                                  aria-describedby="search-addon" />
                                <span class="input-group-text border-0" id="search-addon">
                                  <i class="fas fa-search"></i>
                                </span>
                              </div>
                              <h6 class="card-text mt-5 b">Through details:</h6>
                              <h6 class="card-text mt-3">Genre</h6>
                              <select class="form-control">
                                <option value="" disabled selected>genre</option>
                                <option value="Horror">Horror</option>
                                <option value="Sci-Fi">Sci-Fi</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Romance">Romance</option>
                                <option value="Travel">Travel</option>
                                <option value="Guide">Guide</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="History">History</option>
                              </select>
                              <h6 class="card-text mt-3">Year of publication</h6>
                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="year">
                              <h6 class="card-text mt-3">Author</h6>
                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name/surname">
                              <h6 class="card-text mt-3">Average rating</h6>
                              <div class="row">
                                <div class="col-3"><input type="email" class="form-control mg-l-0" id="exampleFormControlInput1" placeholder="from" style="width: 60px;"></div>
                                <div class="col-1"><h6 class="card-text s-15"> - </h6></div>
                                <div class="col-3"><input type="email" class="form-control mg-l-0" id="exampleFormControlInput1" placeholder="to" style="width: 60px;"></div>
                              </div>
                              <button class="btn mt-4"><p class="fnt mg-b-0">Search</p></button>
                            </div>
                        </div>
                        <div class="card mt-5" style="width: 18rem;">
                            <div class="card-body mg-l mg-r mg-t mg-b">
                                <h6 class="card-text b c">Missing something?</h6>
                                <div class="container mt-5">
                                    <div class="center mt-2">

                                        <button routerLink="/add-book" class="btn"><p class="fnt mg-b-0">+ Add new book</p></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row ml-1">
                            <div class="col-s">
                                <div class="card book-card mx-auto my-3" >
                                    <img src="assets/img/KwiatydlaAlgernona.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Kwiaty dla Algernona  <span class="badge bg-warning text-dark"><i class="fas fa-star"></i> 5</span></h5>
                                        <p class="card-text"> D.Keys</p>
                                        <a href="#" class="btn btn-warning">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-s">
                                <div class="card book-card mx-auto my-3" >
                                    <img src="assets/img/KwiatydlaAlgernona.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Kwiaty dla Algernona  <span class="badge bg-warning text-dark"><i class="fas fa-star"></i> 5</span></h5>
                                        <p class="card-text"> D.Keys</p>
                                        <a href="#" class="btn btn-warning">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-s">
                                <div class="card book-card mx-auto my-3" >
                                    <img src="assets/img/KwiatydlaAlgernona.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Kwiaty dla Algernona  <span class="badge bg-warning text-dark"><i class="fas fa-star"></i> 5</span></h5>
                                        <p class="card-text"> D.Keys</p>
                                        <a href="#" class="btn btn-warning">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-s">
                                <div class="card book-card mx-auto my-3" >
                                    <img src="assets/img/KwiatydlaAlgernona.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Kwiaty dla Algernona  <span class="badge bg-warning text-dark"><i class="fas fa-star"></i> 5</span></h5>
                                        <p class="card-text"> D.Keys</p>
                                        <a href="#" class="btn btn-warning">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-s">
                                <div class="card book-card mx-auto my-3" >
                                    <img src="assets/img/KwiatydlaAlgernona.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Kwiaty dla Algernona  <span class="badge bg-warning text-dark"><i class="fas fa-star"></i> 5</span></h5>
                                        <p class="card-text"> D.Keys</p>
                                        <a href="#" class="btn btn-warning">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-3"></div>

</div>



